*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: white;
}
.link:hover{
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}
.home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.form-container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent white */
    backdrop-filter: blur(10px);         /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari support */
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form-head{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.err-msg{
    color: red;
}